

.titulo-principal-1 {
    font-family: 'Carter One', cursive;

    text-decoration-line: underline;
    color: black;
    font-size: 35px;
    line-height: 40px;
    word-spacing: 10px;

}

.carousel {
    width: 100%;
}

.pie {
    background-color: #FAEBD7;
}

.contenedor-info {
    position: absolute;
    top: 950px;
    right: 350px;

    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 10px;
    gap: 10px;
}

.card{
    background-color: #f6e3c9;
    width: 250px;
    height: 400px;
    border-radius: 20px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.imagen{
    width: 100%;

}

.esqueleto{
    background-color: #FAEBD7;
}

